@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p: #52bc82;
  --fallback-b1: #1A1A1A;
  --b1: #1A1A1A;
  --btn-color: #1E1E1E;
  --bc: white;
  --fallback-bc: white;
  --warning: #EC5657;
}

body {
  background: url("/images/grunge.png") repeat-y center center fixed;
  background-size: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

svg:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}

.dyslexia {
  font-family: "Lexend", system-ui, sans-serif;
}

.default-font {
  font-family: "Inter", system-ui, sans-serif;
}